@import '../index.css';

/* Media Query for phone */

.primarySection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-card);
    padding: 2rem;
    gap: 2rem;
}

.info {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

}

.title {
    font-weight: bold;
    font-size: 50px;
    color: var(--text-title);
}

.accent {
    color: var(--text-accent);
    font-weight: bold;
    font-size: 50px;
}

.moreCharacters {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: .5rem;
    max-width: 200px;
    margin-top: 2rem;
    background-color: var(--bg-btn-primary);
    color: white;
    font-size: 15px;
}

.moreCharacters:hover {
    background-color: var(--bg-category);
}

.primarySection .card {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 250px;
    transform: rotate(6deg);
}

.primarySection img {
    width: 100%;
    max-width: 450px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(0deg, rgba(242, 138, 10, 1) 9%, rgba(21, 185, 214, 0.88) 100%);
}

.someCharacters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-items: center;
    gap: 3rem;
    width: 100%;
    margin-top: 2rem;
}

.someCharacters .card {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: var(--bg-card);
    border-radius: 15px;
    box-shadow: 5px 5px 12px rgba(29, 28, 28, 0.664);
    overflow: hidden;
}

.someCharacters .card img {
    height: 500px;
    padding: 1rem;
    border-radius: 15px 15px 0 0;
}

.charInfo {
    text-align: start;
    padding: 1rem;
    color: grey;
}

.name {
    color: var(--text-title);
    font-weight: bold;
    font-size: 35px;
}

.aboutProject {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 3rem;
    gap: 2rem;
}

.aboutProject div {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 12px;
    box-shadow: 10px 10px 12px rgba(27, 27, 27, 0.596);
}

.aboutProject h2 {
    font-size: 30px;
    font-weight: bold;
}

.aboutProject>div:first-child h2 {
    color: var(--text-title);
}

.project {
    flex: 1;
    background-color: var(--bg-card);
}

.objective {
    flex: 1;
    color: white;
    background-color: var(--bg-card-secondary);
}


/* Media Query for Tablet
@media(min-width: 768px) {

}*/

/* Media Query for PC */
@media(min-width: 1024px) {
    .primarySection {
        flex-direction: row;
        text-align: start;
        padding: 3rem;
    }

    .info {
        justify-content: start;
        align-items: start;
    }

    .primarySection .card {
        max-width: 550px;
    }

    .primarySection .card img {
        height: 500px;
    }

    .aboutProject {
        flex-direction: row;
        justify-content: center;
    }
}

/* 
@media(min-width: 1440px) {} 
*/