@import '../index.css';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 3rem;
}

.userSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.userSection img {
    width: 250px;
    background-color: #edede8;
    border-radius: 1rem;
}

.info .title {
    text-align: center;
    font-size: 40px;
    color: var(--text-title);
    margin-bottom: 2rem;
}

.userFav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    width: 100%;
}

.noFav {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: auto;
}

@media(min-width: 768px) {
    .userSection {
        flex-direction: row;
    }

    .info .title {
        text-align: start;
    }

    .cards {
        grid-template-columns: repeat(2, 300px);
    }
}

@media(min-width: 1440px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}