@import '../index.css';

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem;
}

.userSection {
    display: flex;
    align-items: start;
    justify-content: center;
    max-width: 1280px;
    gap: 3rem;

    img {
        width: 250px;
        background-color: #edede8;
        border-radius: 1rem;
    }

    .info {
        flex: 1;

        & .title {
            font-size: 50px;
            color: var(--text-title);
            margin-bottom: 2rem;
        }
    }
}

.userFav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 5rem 0;
}

.noFav {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: auto;
}