@import '../index.css';
@import "tailwindcss";

.container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: var(--bg-card);
    padding: 3rem;
    border-radius: 15px;
    color: black;
}

.title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.infoUser {
    display: flex;
    flex-direction: column;

}

.infoUser div {
    flex: 1;
    margin-right: 1rem;
    width: 100%;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.bgInput {
    background-color: rgba(172, 169, 169, 0.575);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2rem;
}


input {
    background-color: transparent;
    border: none;
    height: 45px;
    flex: 1;
    padding-left: 5px;
}

.btnRegister {
    width: 40%;
    margin: 0 auto;
    background-color: var(--bg-btn-primary);
    color: white;
}

.btnRegister:hover {
    background-color: var(--bg-category);
}

@media(min-width: 768px) {
    .title {
        font-size: 50px;
    }

    .infoUser {
        flex-direction: row;
    }

    .infoUser div {
        flex-direction: column;
    }
}